/* below 768px */

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
  .hidden {
    display: none;
  }
  .burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 1.2rem;
  }
  .header-logo {
    font-size: 3rem;
  }
  .header-nav {
    margin: 0;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .grid-2-col {
    display: flex;
    flex-direction: column;
  }
  .grid-3-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .rights {
    align-self: center;
    margin-top: 2rem;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 480px */
@media (max-width: 30em) {
  html {
    font-size: 40%;
  }
  .header {
    padding: 8rem 4rem;
  }
}
